<%- include('../cabecalho.ejs') %>

<section class="col-12 col-md-10">
    <div class="card my-4 border-0 shadow-sm" style="border-radius: 10px; max-width: 900px; margin: auto;">
        <h5 class="card-header text-white" style="background-color: #5e2a84; border-radius: 10px 10px 0 0; padding: 15px 20px; font-size: 20px; font-weight: 600;">Adiciona Contrato</h5>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <select class="form-select" name="usuario" id="usuario" required style="border-radius: 8px; border: 1px solid #ccc;">
                        <% usuarios.forEach((usuario) => { %>
                            <option value="<%= usuario._id %>"><%= usuario.nome %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="saldo" class="form-label">Saldo</label>
                    <input type="number" step="0.01" name="saldo" required id="saldo" class="form-control" style="border-radius: 8px; border: 1px solid #ccc;">
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo</label>
                    <input type="text" name="tipo" required id="tipo" class="form-control" style="border-radius: 8px; border: 1px solid #ccc;">
                </div>
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor</label>
                    <input type="number" name="valor" required id="valor" class="form-control" style="border-radius: 8px; border: 1px solid #ccc;">
                </div>
                <div class="mb-3">
                    <label for="data" class="form-label">Data</label>
                    <input type="date" name="data" required id="data" class="form-control" style="border-radius: 8px; border: 1px solid #ccc;">
                </div>
                <div class="mb-3">
                    <label for="local" class="form-label">Local</label>
                    <input type="text" name="local" required id="local" class="form-control" style="border-radius: 8px; border: 1px solid #ccc;">
                </div>

                <!-- Botão de Submissão -->
                <div class="mb-3">
                    <input type="submit" value="Adicionar" class="form-control" style="background-color: #5e2a84; color: white; font-size: 16px; border-radius: 25px; padding: 10px 20px; cursor: pointer; transition: background-color 0.3s ease, color 0.3s ease;">
                </div>
            </form>
        </div>
    </div>
</section>

<%- include('../rodape.ejs') %>
